<% @req.locals.title ||= 'Users' %>
<% extend @limby.layout('admin') %>
<% @headScripts.push '<script src="' + @baseURL + '/limby_static/javascripts/admin_users.js"></script>' %>

<% if @req.hasPermission('admin/super') : %>
  <div class="<%- @limb.config.forms.admin.className %>">
    <div class="<%- @limb.config.forms.admin.panelHeadingClass %>">
      Users
    </div>

    <div class="<%- @limb.config.forms.admin.panelBodyClass %> admin-users-list">
      <% @users.each (user) => : %>
      <div class="list-group-item clearfix <%- if user.get('admin') then 'admin-user' %> <%- if user.get('deleted') then 'deleted-user' %> ">
          <label for="disabled_user_<%- user.id %>" class="label label-danger pull-right">
            <input id="disabled_user_<%- user.id %>" class="disabled_user pull-left marg-xs-top-3" type="checkbox" data-id="<%- user.id %>" <%- if user.get('deleted') then 'checked' %> />
            <span class="pull-right marg-xs-top-3">
              disabled
            </span>
          </label>

          <label for="admin_user_<%- user.id %>"  class="label label-primary pull-right">
            <input id="admin_user_<%- user.id %>" class="admin_user pull-left marg-xs-top-3" type="checkbox" data-id="<%- user.id %>" <%- if user.get('admin') then 'checked' %> />
            <span class="pull-right marg-xs-top-3">
              admin
            </span>
          </label>

          <span class="name">
            <%- user.fullName() %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
