<% @title ?= 'Change Email' %>
<% extend @limby.layout('account') %>

<% @crumbs = {'account': 'Account', 'active': 'Change Email'} %>

<div class="<%- @limb.config.forms.email.containerClass %>">
  <form role="form" class="<%- @limb.config.forms.email.className %>" action="<%- @baseURL %>/email" method="post">

    <div class="<%- @limb.config.forms.email.panelHeadingClass %>">
      <%- @limb.config.forms.email.panelHeading %>
    </div>

    <div class="<%- @limb.config.forms.email.panelBodyClass %>">

      <% @formGroup = [
        type: 'html'
        title: 'Current Email:'
        html: '<strong class="inline-block pad-xs-top-7">' + @req.locals.user.get('email') + '</strong>'
      ,
        title: 'New Email:'
        name: 'email'
        value: @formData.email
      ,
        title: 'Confirm New Email:'
        name: 'confirm_email'
        value: @formData.confirm_email
      ,
        className: @limb.config.forms.email.buttonClass
        value: @limb.config.forms.email.buttonText
        type: 'submit'
      ] %>
      <% include @limby.viewPath 'partials/form_group' %>

    </div>
  </form>
</div>
