<% extend @limby.layout('account') %>

<%- @breadcrumbs {'account': 'Account', 'active': 'Change Email'} %>

<div class="<%- @limb.config.forms.email.containerClass %>">
  <form role="form" class="<%- @limb.config.forms.email.className %>" action="/email" method="post">

    <div class="panel-heading">Change Email</div>

    <div class="panel-body pad-top-xl">

      <% @formGroup = [
        type: 'html'
        title: 'Current Email:'
        html: '<div class="form-control" disabled>' + (@req.locals.user.get("email") ? '') + '</div>'
      ,
        title: 'New Email:'
        name: 'email'
        value: @formData.email
      ,
        title: 'Confirm New Email:'
        name: 'confirm_email'
        value: @formData.confirm_email
      ,
        className: @limb.config.forms.email.buttonClass
        value: 'Change Email &raquo;'
        type: 'submit'
      ] %>
      <% include @limby.viewPath 'partials/form_group' %>

    </div>
  </form>
</div>
