<% extend @limby.layout('account') %>

<form class="change-email user-form" action="/email" method="post">

  <div class="section-header">Change Email</div>

  <div class="form-row form-row-text">
      <div class="form-label">
        Current Email: 
      </div>
      <div class="form-entry">
        <strong><%- @req.locals.user.get('email') %></strong>
      </div>
  </div>

  <div class="form-row form-row-input">
    <div class="form-label required">
      New Email:
    </div>
    <div class="form-entry">
      <input class="form-control" type="text" value="<%- @body.email %>" name="email" />
    </div>
  </div>
  <%- @renderFlash 'email' %>

  <div class="form-row form-row-input">
    <div class="form-label required">
      Confirm New Email:
    </div>
    <div class="form-entry">
      <input class="form-control" type="text" value="<%- @body.confirm_email %>" name="confirm_email" />
    </div>
  </div>
  <%- @renderFlash 'confirm_email' %>

  <div class="form-row form-row-submit">
    <input class="btn btn-primary" type="submit" value="Change Email &raquo;" />
  </div>
</form>
