<% extend @limby.layout('account') %>

<%- @breadcrumbs {'account': 'Account'} %>

<div class="<%- @limb.config.forms.account.containerClass %>">
  <form role="form" class="<%- @limb.config.forms.account.className %>" action="/account" method="post">

    <% @body ?= {first_name: '', last_name: ''} %>
    <% @user = @req.locals.user.toJSON() %>

    <div class="panel-heading">
      Edit Account
    </div>

    <div class="panel-body">

      <% @formGroup = [
        type: 'html'
        title: 'Email:'
        html: '
        <div class="form-control" disabled>
          <strong class="pull-right">' + @req.locals.user.get('email') + '</strong>
          <a href="/email">Edit</a>
        </div>'
      ,
        type: 'html'
        title: 'Password:'
        html: '
        <div class="form-control" disabled>
          <a href="/password">Edit</a>
        </div>'
      ,
        title: 'First Name:'
        name: 'first_name'
        value: @body.first_name || @user.first_name
      ,
        title: 'Last Name:'
        name: 'last_name'
        value: @body.last_name || @user.last_name
      ] %>

      <% if @limb.config.forms?.account?.password is false then @formGroup.splice(1,1) %>

      <% include @limby.views['partials/form_group'] %>

      <%- @limby.renderWidgets('account/index', this) %>

      <% @formGroup = [
        className: @limb.config.forms.email.buttonClass
        value: 'Save &raquo;'
        type: 'submit'
      ] %>
      <% include @limby.views['partials/form_group'] %>

  </form>
</div>
