<% extend @limby.layout('account') %>

<div class="edit-account-container">
  <div class="account-links">

    <span class="account-link">
      <a href="/email">Change Email</a>
    </span>

    <span class="account-link">
      <a href="/password">Change Password</a>
    </span>

  </div>

  <% @body ?= {first_name: '', last_name: ''} %>
  <% @user = @req.locals.user.toJSON() %>

  <div class="section-header">
    Edit Account
  </div>
  <form class="user-form" action="/account" method="post">

    <div class="form-row form-row-input">

      <div class="form-label required">
        First Name:
      </div>

      <div class="form-entry">
        <input value="<%- @body.first_name || @user.first_name %>" name="first_name" />
      </div>
    </div>

    <div class="form-row form-row-input">

      <div class="form-label required">
        Last Name:
      </div>

      <div class="form-entry">
        <input value="<%- @body.last_name || @user.last_name %>" name="last_name" />
      </div>

    </div>

    <%- @limby.renderWidgets('account/index', this) %>

    <div class="form-row form-row-submit">
      <input class="account_save button" type="submit" value="Save" />
    </div>

  </form>
</div>
