<% extend @limby.layout('account') %>

<form class="change-password user-form" action="/password" method="post">

  <div class="section-header">Change Password</div>

  <div class="form-row form-row-input">
    <div class="form-label required">
      Current Password
    </div>
    <div class="form-entry">
      <input name="current_password" type="password" />
    </div>
  </div>
  <%- @renderFlash 'current_password' %>

  <div class="form-row form-row-input">
    <div class="form-label required">
      New Password
    </div>
    <div class="form-entry">
      <input name="password" type="password" />
    </div>
  </div>
  <%- @renderFlash 'password' %>

  <div class="form-row form-row-input">
    <div class="form-label required">
      Confirm Password
    </div>
    <div class="form-entry">
      <input name="confirm_password" type="password" />
    </div>
  </div>
  <%- @renderFlash 'confirm_password' %>

  <div class="form-row form-row-submit">
    <input class="button" type="submit" value="Change Password" />
  </div>

</form>
