<% extend @limby.layout('account') %>

<%- @breadcrumbs {'account': 'Account', 'active': 'Change Password'} %>

<% console.log @req.locals.user.toJSON(), @req.locals.user.get('password') %>
<% @formGroup = @_.compact [
  title: 'Current Password:'
  name: 'current_password'
  type: 'password'
,
  title: 'New Password:'
  name: 'password'
  type: 'password'
,
  title: 'Confirm New Password:'
  name: 'confirm_password'
  type: 'password'
,
  buttonClass: @limb.config.forms.password.buttonClass
  buttonText: 'Change Password &raquo;'
  type: 'submit'
] %>

<div class="<%- @limb.config.forms.email.containerClass %>">
  <form role="form" class="<%- @limb.config.forms.email.className %>" action="/password" method="post">

  <div class="panel-heading">Change Password</div>

  <div class="panel-body">

      <% include @limby.views['partials/form_group'] %>

    </div>
  </form>
</div>
