<% @formGroupHorizontal ?= true %>
<% @_.each @formGroup, (group) => : %>
  <% id = @_.uniqueId() %>
  <% {labelClass, inputContainerClass, value, title, type, className} = group %>
  <% if type == 'hidden': %>
    <input type="hidden" <%- if value then 'value="' + value + '"' %> name="<%- group.name %>" />
  <% else if type == 'submit': %>
    <% {buttonClass, buttonText} = group %>
    <div class="<%- group.groupClass || 'form-group form-group-submit' %>">
      <div class="<%- inputContainerClass || (@formGroupHorizontal && "col-md-#{@formRight || 9} col-md-offset-#{@formLeft || 3}") || '' %> ">
        <input class="<%- className || 'btn' %>" type="submit" value="<%- value || 'Submit &raquo;' %>" />
      </div>
    </div>
  <% else : %>
    <% # default # type text # %>

    <% {name, value} = group %>
    <% err = @renderFlash name %>
    <div class="<%- group.groupClass || 'form-group' %> <%- err && 'has-feedback has-error' %>">
      <% if group.label isnt false : %>
      <label for="form_input_<%- id %>" class="control-label <%- labelClass || (@formGroupHorizontal && "col-md-#{@formLeft || 3}") || '' %>">
          <span class="<%- group.required && 'required' || '' %>"><%- title %></span>
        </label>
      <% end %>
      <div class="<%- inputContainerClass || (@formGroupHorizontal && "col-md-#{@formRight || 9}") || '' %>">
        <% switch type : %>
          <% when 'block' : %>
            <% content group.blockName %>
          <% end %>
          <% when 'html' : %>
            <%- group.html %>
          <% end %>
          <% when 'select': %>
            <select class="form-control" name="<%- name %>" id="form_input_<%- id %>">
              <% @_.each group.options, (opt) => : %>
                <option
                  <%- opt.value? && 'value="' + opt.value + '"' %>
                  <%- opt.value == group.value && 'selected' || '' %>
                  ><%- opt.title %></option>
              <% end %>

            </select>
          <% end %>
          <% when 'textarea' : %>
            <textarea
              id="form_input_<%- id %>"
              class="form-control <%- group.className %>"
              <%- if group.autofocus then 'autofocus' %>
              <%- if group.rows then "rows=\"#{group.rows}\"" %>
              placeholder="<%- group.placeholder || '' %>"
              name="<%- name %>"
            ><%- value %></textarea>
          <% end %>
          <% else: %>
            <input
              placeholder="<%- group.placeholder || '' %>"
              id="form_input_<%- id %>"
              class="form-control <%- group.className %>"
              <% if group.type == 'checkbox' : %>
                <%- value && 'checked' || '' %>
              <% else : %>
                value="<%- value %>"
              <% end %>
              type="<%- group.type || 'text' %>"
              <%- if group.autofocus then 'autofocus' %>
              name="<%- name %>"
            />
          <% end %>
        <% end %>
        <%- err && '<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>' %>
      </div>
    </div>
    <%- err %>

  <% end %>

<% end %>
