<% @formGroupHorizontal ?= true %>
<% @_.each @formGroup, (group) => : %>
  <% {value, title, type, className} = group %>
  <% if type == 'submit': %>
    <% {buttonClass, buttonText} = group %>
    <div class="form-group form-group-submit">
      <div class="<%- @formGroupHorizontal && 'col-md-9 col-md-offset-3' || '' %> ">
        <input class="<%- className || 'btn' %>" type="submit" value="<%- value || 'Submit &raquo;' %>" />
      </div>
    </div>
  <% else : %>
    <% # default # type text # %>

    <% {name, value} = group %>
    <% err = @renderFlash name %>
    <div class="form-group <%- err && 'has-feedback has-error' %>">
      <% if group.label isnt false : %>
        <label class="control-label <%- @formGroupHorizontal && 'col-md-3' || '' %>">
          <span class="<%- group.required && 'required' || '' %>"><%- title %></span>
        </label>
      <% end %>
      <div class="<%- @formGroupHorizontal && 'col-md-9' || '' %>">
        <% switch type : %>
          <% when 'html' : %>
            <%- group.html %>
          <% end %>
          <% when 'select': %>
            <select class="form-control" name="company">
              <% @_.each group.options, (opt) => : %>
                <option
                  <%- opt.value && 'value="' + opt.value + '"' %>
                  <%- opt.value == group.value && 'selected' %>
                  ><%- opt.title %></option>
              <% end %>

            </select>
          <% end %>
          <% when 'textarea' : %>
            <textarea
              class="form-control <%- group.className %>"
              type="<%- group.type || 'text' %>"
              placeholder="<%- group.placeholder || '' %>"
              name="<%- name %>"
            ><%- value %></textarea>
          <% end %>
          <% else: %>
            <input
              class="form-control <%- group.className %>"
              type="<%- group.type || 'text' %>"
              value="<%- value %>"
              name="<%- name %>"
            />
          <% end %>
        <% end %>
        <%- err && '<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>' %>
      </div>
    </div>
    <%- err %>

  <% end %>

<% end %>
