<% @crumbs = 'admin': 'Admin', 'permissions': 'Permissions', active: 'Permission Group' %>

<% extend @limby.layout('admin') %>

<script src="<%- @baseURL %>/limby_static/javascripts/permission_groups.js"></script>

<div class="permission_group panel panel-default" data-group_id="<%- @group.id %>">
  <div class="panel-heading">
    <a
      href="<%- @baseURL %>/admin/permissions/groups/<%- @group.id %>/destroy"
      class="pull-right btn btn-xs btn-primary"
      onclick="return confirm('Destroy -- are you sure?')"
    >
      <span class="glyphicon glyphicon-remove">
      </span>
    </a>

    <a href="<%- @baseURL %>/admin/permissions/groups/<%- @group.id %>/edit" class="pull-right btn btn-xs btn-primary marg-xs-right-7">
      <span class="glyphicon glyphicon-pencil">
      </span>
    </a>
    <%- @group.get('name') %>
  </div>

  <% if @group.get('default') : %>
    <div class="panel-body">
      <b> This is a default group added to new users </b>
    </div>
  <% end %>
  <div class="panel-body">
    <p><strong>Users</strong></p>
    <div class="list-group">
      <% @users.each (user) => : %>
        <div class="list-group-item">
          <input
            type="checkbox"
            class="permission_group_user"
            data-user_id="<%- user.id %>"
            <%- if @group.related('permission_group_users').findWhere({user_id: user.id}) then 'checked' else '' %>
          />
          <%- user.fullName() %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="panel-body">
    <p><strong>Roles</strong></p>
    <div class="list-group">
      <% @roles.each (role) => : %>
        <div class="list-group-item">
          <input
            type="checkbox"
            class="permission_group_role"
            data-role_id="<%- role.id %>"
            <%- if @group.related('permission_group_roles').findWhere({limby_permission_id: role.id}) then 'checked' else '' %>
          />
          <%- role.get('name') %>
          <% if role.get('parent_type') : %>
             -- <%- role.related('parent').permissionName() %>
          <% end %>
          <% if role.get('seeded') : %>
            <div class="label label-info">Admin Permission</div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
