<% @req.locals.navLogin = false %>

<% extend @limby.layout 'base' %>

<form action="/forgot_password" class="forgot-password user-form" method="post">

  <div class="section-header">
    Password Recovery
  </div>

  <p>
    Enter your email address to retrieve your password
  </p>

  <div class="form-row form-row-input">
    <div class="form-label required">
      Email Address:
    </div>

    <div class="form-entry">
      <input name="email" />
    </div>
  </div>
  <%- @renderFlash('email') %>

  <div class="form-row form-row-submit">
    <input type="submit" class="button" value="Send Recovery Email" />
  </div>
</form>
