<% @req.locals.navLogin = false %>

<% extend @limby.layout 'base' %>

<%
crumbs = {
  'login': @limb.config.forms.login.panelHeading
  'forgot_password': @limb.config.forms.forgotPassword.panelHeading
}
%>
<%- @breadcrumbs(crumbs) %>

<div class="<%- @limb.config.forms.forgotPassword.containerClass %>">
  <form role="form" class="<%- @limb.config.forms.forgotPassword.className %>"  action="<%- @baseURL %>/forgot_password" method="post">

  <div class="<%- @limb.config.forms.forgotPassword.panelHeadingClass %>">
    <%- @limb.config.forms.forgotPassword.panelHeading %>
  </div>

  <div class="<%- @limb.config.forms.forgotPassword.panelBodyClass %>">
    <p>
      Enter your email address to retrieve your password
    </p>

    <% @body ?= {email: ''} %>

    <% @formGroupHorizontal = @limb.config.forms.forgotPassword.horizontal %>

    <% @formGroup = [
      title: 'Email Address:'
      name: 'email'
      value: @body.email
      required: true
    ] %>

    <%
    if @limb.config.forms.forgotPassword.backButton
      @formGroup.push
        className: @limb.config.forms.forgotPassword.backClass
        value: @limb.config.forms.forgotPassword.backText
        type: 'submit'

    @formGroup.push
      className: @limb.config.forms.forgotPassword.buttonClass
      value: @limb.config.forms.forgotPassword.buttonText
      type: 'submit'
    %>

    <% include @limby.viewPath 'partials/form_group' %>
  </div>
  </form>
</div>
