<% @req.locals.navLogin = false %>

<% extend @limby.layout 'base' %>

<form action="/forgot_password" class="forgot-password user-form" method="post">
  <div class="section-header">
    Password Recovery
  </div>
  <p>
    Enter your email address to retrieve your password
  </p>
  <table>
    <tr>
      <th>
        Email Address:
      </th>
      <td>
        <input name="email" />
      </td>
    </tr>
    <% if er = @renderFlash('email') : %>
      <tr>
        <td colspan="2">
          <%- er %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td class="submit-container">
        <input type="submit" class="button" value="Send Recovery Email" />
      </td>
    </tr>
  </table>
</form>
