<div class="navbar">

  <% if @req.session.user_id : %>

    <% if !@req._limby.key : %>
      <% if @req.url == '/account' : %>
        <% accountClass = 'active' %>
      <% else if !@req.url || @req.url == '/' : %>
        <% baseClass = 'active' %>
      <% end %>
    <% end %>

    <div class="navsection right">
      <a href="<%- @baseURL %>/logout"> Logout </a>
    </div>
    
    <div class="navsection right <%- accountClass %>">
      <a href="<%- @baseURL %>/account"> Account </a>
    </div>

    <div class="navsection <%- baseClass %>">
      <a href="<%- @baseURL %>/"> Home </a>
    </div>

    <div class="navsection right">
      <%- @req.locals.user.get('first_name') %>
    </div>

    <%- @limby.renderWidgets('navbar', this) %>

    <%
    tagsPerm = @req.hasPermission('admin/tags')
    permsPerm = @req.hasPermission('admin/permissions')
    %>

    <% if tagsPerm || permsPerm : %>

      <span class="admin_navsection"><span class="inner">

        <div class="navsection">
          Admin
          
        </div>
        <% if @req.url == '/tags' : %>
          <% tagsClass = 'active' %>
        <% else if @req.url == '/admin/permissions' : %>
          <% permissionsClass = 'active' %>
        <% end %>

        <% if tagsPerm : %>
          <div class="navsection <%- tagsClass || '' %>">
            <a href="<%- @baseURL %>/tags">Tags</a>
          </div>
        <% end %>
        
        <% if permsPerm : %>
          <div class="navsection <%- permissionsClass || '' %>">
            <a href="<%- @baseURL %>/admin/permissions">Permissions</a>
          </div>
        <% end %>

      </span></span>
    <% end %>

    <div class="navmiddle" style="display: none"><a href="<%- @baseURL %>/">Menu</a></div>

  <% else : %>

   <%
   #
   # Logged out
   # %>

    <% if @req.locals.navLogin isnt false : %>
      <% include @limby.viewPath('login/_form') %>
    <% end %>

  <% end %>
</div>
