<% @req.locals.navLogin = false %>

<% extend @limby.layout 'base' %>

<form class="reset-password" action="<%- @baseURL %>/reset_password?user_id=<%- @_.escape @req.query.user_id %>&token=<%- @_.escape @req.query.token %>" method="post">
  <div class="section-header">
    Reset Password
  </div>
  <p>
    Enter your email address to retrieve your password
  </p>
  <table>
    <tr>
      <th>
        New Password:
      </th>
      <td>
        <input type="password" name="password" />
      </td>
    </tr>
    <% if er = @renderFlash('password') : %>
      <tr>
        <td colspan="2">
          <%- er %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th>
        Confirm New Password:
      </th>
      <td>
        <input type="password" name="confirm_password" />
      </td>
    </tr>
    <% if er = @renderFlash('confirm_password') : %>
      <tr>
        <td colspan="2">
          <%- er %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td class="submit-container">
        <input type="submit" class="button" value="Reset Password" />
      </td>
    </tr>
  </table>
</form>
