<% @req.locals.navLogin = false %>

<% extend @limby.layout 'base' %>

<form class="reset-password form form-horizonal" action="<%- @baseURL %>/reset_password?user_id=<%- @_.escape @req.query.user_id %>&token=<%- @_.escape @req.query.token %>" method="post">
  <div class="section-header">
    Reset Password
  </div>
  <p>
    Enter your email address to retrieve your password
  </p>
  <br />
  <div class="form-group clearfix">
    <label for="password" class="col-xs-3 control-label text-right">
      New Password:
    </label>
    <div class="col-xs-9">
      <input type="password" id="password" name="password" class='form-control' />
    </div>
  </div>
  <% if er = @renderFlash('password') : %>
    <div class="form-group clearfix"><div class="col-xs-12">
      <%- er %>
    </div></div>
  <% end %>
  <div class="form-group clearfix">
    <label for="confirm_password" class="col-xs-3 control-label">
      Confirm New Password:
    </label>
    <div class="col-xs-9">
      <input type="password" name="confirm_password" class="form-control" />
    </div>
  </div>
  <% if er = @renderFlash('confirm_password') : %>
    <div class="form-group clearfix"><div class="col-xs-12">
      <%- er %>
    </div></div>
  <% end %>
  <div class="form-group clearfix"><div class="col-xs-9 col-xs-offset-3">
    <input type="submit" class="btn btn-default btn-block" value="Reset Password" />
  </div></div>
</form>
