<div class="<%- @limb.config.forms.admin.className %>">
  <div class="<%- @limb.config.forms.admin.panelHeadingClass %>">
    Permissions
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>module</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <% @permissions.each (perm) => : %>
        <tr class="permission_row">
          <td><%- perm.get('module') %></td>
          <td>
            <%- perm.get 'name' %>
            <% if perm.get('parent_type') : %>
               -- <%- perm.related('parent').permissionName() %>
            <% end %>
            <% if perm.get('seeded') : %>
              <span class="label label-info">
                Admin Permission
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
