<div class="panel panel-default">
  <div class="panel-heading"><strong>Permissions</strong></div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>module</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <% @permissions.each (perm) => : %>
      <tr class="permission_row">
          <td><%- perm.get('module') %></td>
          <td>
            <%- perm.get 'name' %>
            <% if perm.get('parent_type') : %>
               -- <%- perm.related('parent').permissionName() %>
            <% end %>
            <span class="<%- if perm.get('seeded') then 'label label-info' %>">
              Admin Permission
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
