<% @req.locals.title ||= 'Permissions' %>
<% extend @limby.layout('admin') %>

<% @crumbs = admin: 'Admin', active: 'Permissions' %>
<script src="<%- @baseURL %>/limby_static/javascripts/permission_user_roles.js"></script>

<div class="<%- @limb.config.forms.admin.className %>">
  <div class="<%- @limb.config.forms.admin.panelHeadingClass %>">
    <a class="<%- @limb.config.forms.admin.createClass %>" href="<%- @baseURL %>/admin/permissions/groups/create">
      Create
      <span class="glyphicon glyphicon-plus-sign marg-xs-left-5"></span>
    </a>
    Groups
  </div>
  <div class="panel-body list-group">
    <% @groups.each (gr) => : %>
      <a class="list-group-item" href="<%- @baseURL %>/admin/permissions/groups/<%- gr.id %>">
        <%- gr.get('name') %>
      </a>
    <% end %>
  </div>
</div>

<div class="<%- @limb.config.forms.admin.className %>">
  <div class="<%- @limb.config.forms.admin.panelHeadingClass %>">
    Users
  </div>
  <div class="panel-body">
    <div class="panel-group" id="accordion">
      <% @users.each (@user) => : %>
        <% include @limby.views['permissions/user'] %>
      <% end %>
    </div>
  </div>
</div>
