<% @req.locals.title ||= 'Permissions' %>
<% extend @limby.layout('admin') %>

<% @crumbs = admin: 'Admin', active: 'Permissions' %>
<script src="<%- @baseURL %>/limby_static/javascripts/permission_user_roles.js"></script>

<% include @limby.viewPath('permissions/_index') %>

<div class="<%- @limb.config.forms.admin.className %>">
  <div class="<%- @limb.config.forms.admin.panelHeadingClass %>">
    <a class="<%- @limb.config.forms.admin.createClass %>" href="<%- @baseURL %>/admin/permissions/groups/create">
      Create
      <span class="glyphicon glyphicon-plus-sign marg-xs-left-5"></span>
    </a>
    Groups
  </div>
  <div class="panel-body list-group">
    <% @groups.each (gr) => : %>
      <a class="list-group-item" href="<%- @baseURL %>/admin/permissions/groups/<%- gr.id %>">
        <%- gr.get('name') %>
      </a>
    <% end %>
  </div>
</div>

<div class="<%- @limb.config.forms.admin.className %>">
  <div class="<%- @limb.config.forms.admin.panelHeadingClass %>">
    Users
  </div>
  <div class="panel-body">
    <div class="panel-group" id="accordion">
      <% @users.each (user) => : %>
        <% permsFromGroups = [] %>
        <div class="panel panel-default" data-user_id="<%- user.id %>" >
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#<%- id = 'collaspe' + user.id %>">
              <%- user.fullName() %>
            </a>
          </div>
          <div class="panel-body panel-collapse collapse" id="<%- id %>">
            <!--
            <button onclick="javascript: $('[data-user_id=<%- user.id %>] .perm_list').show(); $(this).hide()"> Show permissions</button>
            -->
            <div class="group_list" >
              <h6>groups</h6>
              <% @groups.each (group) => : %>
                <div>
                  <input 
                  type="checkbox"
                  class="permission_user_group"
                  data-user_id="<%- user.id %>"
                  data-group_id="<%- group.id %>"
                  <%
                  if checked = user.related('group_users').findWhere({limby_permission_group_id: group.id})
                    group.related('permission_group_roles').each (gr) =>
                      permsFromGroups.push gr.get('permission_role_id')
                  %>
                  <%- if checked then 'checked' else '' %>
                  />
                  <%- group.get 'name' %>
                </div>
              <% end %>
            </div>
            <div class="perm_list" >
              <h6>permissions</h6>
              <% @permissions.each (perm) => : %>
                <div>
                  <input 
                  type="checkbox"
                  class="permission_user_role <%- if (@_.include permsFromGroups, perm.id) then 'permFromGroup' else '' %>"
                  data-permission_id="<%- perm.id %>"
                  <%- if user.related('permission_roles').findWhere({limby_permission_id: perm.id}) then 'checked' else '' %>
                  />
                  <%- perm.get('name') %>
                  <% if perm.get('parent_type') : %>
                     -- <%- perm.related('parent').permissionName() %>
                  <% end %>
                  <% if perm.get('seeded') : %>
                    <div class="label label-info">Admin Permission</div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
