<div class="<%- @limb.config.forms.signup.containerClass %>">
  <form class="<%- @limb.config.forms.signup.className %>" action="<%- @signupURL || '/signup' %>" method="post">

  <% @body ?= {first_name: '', last_name: '', email: '', confirm_email: ''} %>

  <% @formGroup = [
    title: 'First Name:'
    name: 'first_name'
    value: @body.first_name
    required: true
  ,
    title: 'Last Name:'
    name: 'last_name'
    value: @body.last_name
    required: true
  ,
    title: 'Email:'
    name: 'email'
    value: @body.email
    required: true
  ,
    title: 'Confirm Email:'
    name: 'confirm_email'
    value: @body.confirm_email
    required: true
  ,
    title: 'Password:'
    name: 'password'
    type: 'password'
    required: true
  ] %>
  <% @formGroupHorizontal = @limb.config.forms.signup.horizontal %>
  <% include @limby.viewPath 'partials/form_group' %>

  <%# Adding your own fields -- maybe confirm password? %>
  <%- @limby.renderWidgets('signup', this) %>

  <% @formGroup = [
    className: @limb.config.forms.signup.buttonClass
    value: @limb.config.forms.signup.buttonText
    type: 'submit'
  ] %>
  <% include @limby.viewPath 'partials/form_group' %>

  </form>
</div>
