<form class="login-form user-form login<%- @req.locals.loginClasses %>" action="/login" method="post">
  <% @body ?= {email: ''} %>

  <div class="form-row form-row-input">

    <div class="form-label">Email:</div>

    <div class="form-entry">
      <input value="<%- @body.email %>" name="email" />
    </div>
  </div>

  <div class="form-row form-row-input">

    <div class="form-label">password</div>

    <div class="form-entry">
      <input <% if @body.email : %>autofocus<% end %> name="password" type="password" />
    </div>

  </div>

  <div class="form-row form-row-link">
    <a href="/forgot_password">Forgot Password</a>
  </div>

  <div class="form-row form-row-submit">
    <input type="submit" value="Log in" />
  </div>

</form>
