<form class="login<%- @req.locals.loginClasses %>" action="/login" method="post">
  <% @body ?= {username: ''} %>
  <div>
    <label>username</label>
    <div class="description">
      your computer login name (ex. jsmith)
    </div>
    <input value="<%- @body.username %>" name="username" />
  </div>
  <div>
    <label>password</label>
    <div class="description">
      same as your computer password
    </div>
    <input <% if @body.username : %>autofocus<% end %> name="password" type="password" />
  </div>
  <div>
    <input type="submit" value="Log in" />
    <br />
    <% if !@config.ldap?.enabled : %>
      <a href="/forgot_password">Forgot Password</a>
    <% end %>
  </div>
</form>
