<form role="form" class="login-form user-form login<%- @req.locals.loginClasses %>" action="/login" method="post">
  <% @body ?= {email: ''} %>

  <div class="form-row form-row-input">

    <div class="form-label required">
      Email:
    </div>

    <div class="form-entry">
      <input class="form-control" type="text" value="<%- @body.email %>" autofocus name="email" />
    </div>
  </div>
  <%- @renderFlash('email') %>

  <div class="form-row form-row-input">

    <div class="form-label required">
      Password:
    </div>

    <div class="form-entry">
      <input class="form-control" name="password" type="password" />
    </div>

  </div>
  <%- @renderFlash('password') %>

  <% if @loginForgotPassword isnt false : %>
    <div class="form-row form-row-link">
      <div class="form-label">
        <a href="/forgot_password">Forgot Password</a>
      </div>

      <div class="form-entry">
      </div>
    </div>
  <% end %>

  <div class="form-row form-row-submit">
    <input class="btn btn-primary" type="submit" value="<%- @loginButtonText || 'Log in' %>" />
  </div>

</form>
