<% @req.locals.title ||= (@tag? && 'Edit' || 'New')  + ' Tag' %>
<%
@crumbs =
  admin: 'Admin'
  tags: 'Tags'
  active: @req.locals.title
%>

<% extend @limby.layout('admin') %>

<div class="<%- @limb.config.forms.admin.className %>">
  <div class="<%- @limb.config.forms.admin.panelHeadingClass %>">
    <% if @tag : %>
      <a
        class="pull-right btn btn-primary btn-xs"
        href="<%- @baseURL %>/admin/tags/<%- @tag?.id %>/delete"
        onclick="javascript: return confirm('Delete? Are you sure?');"
      >
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    <% end %>
    <%- (@tag? && 'Edit') || 'New' %> Tag
  </div>
  <div class="panel-body">
    <form
    class="form form-horizontal"
    action="<%- @baseURL %>/admin/tags<%- @tag?.id && ('/' + @tag?.id) %>"
    enctype="multipart/form-data"
    method="post">

      <% @formGroup = [
        title: 'Name:'
        name: 'name'
        value: @body.name ? @tag?.get 'name'
        labelClass: 'col-md-2'
        inputContainerClass: 'col-md-10'
      ] %>

      <% include @limby.viewPath('partials/form_group') %>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <input class="<%- @limb.config.forms.admin.buttonClass %>" type="submit" value="Save" />
        </div>
      </div>
    </form>
  </div>
</div>
